* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(180deg, #f9e0bb2e, #6f593751), url(../image/f6.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
.nav1{
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
.nav2 {
    display: flex;
    padding: 1% 5%;
    width: auto;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

nav img{
    width: 100px;
  
}
.nav-links {
    flex: 1;
    align-items: center;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
}
.nav-links ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-links ul li::after {
    content: "";
    width: 0px;
    height: 2px;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 30%;
}
.nav2 {
    margin-right: 8px;
}
.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1 {
    font-size: 40px;
    text-shadow: 5px 5px 50px #884A39 ;
    color: #ffffff;
    padding-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-box .text{
    margin: 10px 0 40px;
    font-size:20px;
    color: #ffffff;
    justify-content: center;
    text-align: center;
    font-style: italic;
    
}
.click-btn {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    background-color: #F9E0BB;
}
.click-btn:hover {
    background: #884A39;
    color: white;
    transition: 1s;

}
/* ICON */
/* nav .fa {
    display: none;
} */
@media only screen and (max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #bda476;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
}