* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to Left, #04a1f5, #09237f);
    background-position: center;
    background-size: cover;
    position: relative;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.572);
}
nav a{
    color: rgb(0, 0, 0);
}

.container-fluid {

  display: flex;
  justify-content: space-around !important;
}

.container-fluid .wrapper{
    width: 90%;
    display: flex;
    justify-content: space-between !important;
}
nav .navbar-brand {
    font-size: 40px;
    color: #08206e;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav .nav-link{
    font-size: 22px;
    margin-left: 50px;
}
.nav-link:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.navbar-brand:hover {
    color: #08206e;
}
.div {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.first-div {
    width: 600px;
    height: 500px;
    /* border: 2px solid rgb(140, 0, 255); */
}

.first-div p {
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    align-self:flex-start;
    align-content: center;
    margin-top: 40px;  
    text-shadow: none;
    
}

.second-div {
    width: 700px;
    height: 500px;
    display: flex;
    /* border: 2px solid rgb(255, 145, 0);    */
    background-image: url(../assets/image1/Advancenetworking.png); 
    background-repeat: no-repeat;
    background-position: center;
}
.click-btn {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    font-size: 20px;
    background: transparent;
    position: absolute;
    cursor: pointer;
    align-self: center;
    background-color: #d4311b;
    border-radius: 20px;
    margin-top: 50px;
}

.click-btn:hover {
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: 1s;
    text-decoration: none;

}

/* MAIN BODY */

/* other body */
.co-mbody {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to Right, #7cbcde, #09237f);
    background-color: rgb(130, 201, 240);
    background-position: center;
    background-size: cover;
    position: relative;
}
.co-body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    /* border: 2px solid rgb(140, 0, 255);      */
 }
.co-child1 {
    width: 500px;
    height: 700px;
    display: flex;
}
.co-child1 h1 {
    color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-top: 90px;
    margin-left: 30px;
    text-align: start;

} 
.co-child1 p {
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    align-self:flex-start;
    align-content: center;
    margin-top: 20px;  
    text-shadow: none;
}  
.co-child2 {
    width: auto;
    height: auto;
    display: flex;
    /* border: 2px solid rgb(140, 0, 255); */  
}
.co-child2 img {
    width: 700px;
    margin-right: 50px;
    position: relative;
} 

/* page */
.page {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-size: cover;
    position: relative;
}
.main-page {
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    align-items: center; 
    /* border: 2px solid rgb(140, 0, 255);      */
 }
.page1 {
    width: 100%;
    height: 100px;
    align-self: start;
    display: flex;
    margin-top: 100px;
    /* border: 2px solid rgb(140, 0, 255);   */
}
.page1 h1 {
    color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    justify-self: center;

} 

.page2 {
    width: 100%;
    height: 250px;
    margin-top: 50px;
    /* border: 2px solid rgb(140, 0, 255);   */
}
ul {
    justify-content: space-evenly;
}
li img{
    width: 150px;
    padding: 10px;
    border: 5px solid rgb(21, 24, 175);
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}
li img:hover {
    transform: translateY(-20px);
}
li h5 {
    margin-top: 15px;
    font-size: 20px;
    color: #F4D160;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
li p {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



/* FOOTER CSS */
.footer {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
}
.footer img {
    width: 100%;
    height: 200px;
}
.footer-a {
    width:100%;
    height: 300px;
    position: relative; 
    display: flex;
    margin-top: 100px;
}
.hr-line {
    width: 100%;
    align-self: center;
    border: 1px solid rgb(136, 136, 136);

}
ul {
   align-self: center;
   text-align: center;
   justify-self: start;
   display: flex;
}
li {
    font-size: 22px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   list-style: none;
   margin-left: 30px;
  
}
.footer-a a{
    color: #686666;
}
.map h1{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #686666;
    align-self:flex-start;
    margin-left: 300PX;
}
.map h6 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 200px;
}
.map .fa{
    color: rgb(255, 30, 30);
}
iframe {
    margin-top: 20px;
    margin-left: 200px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
}
iframe:hover {
   transform: translateY(-20px);
}

.footer-b {
    width: 100%;
    height: 100px;
    display: grid;
}
h6{
    color: black;
    align-self: flex-end;
    justify-self: center;
}
.icon {
    width: 200px;
    height: 100px;
    margin-top: 200px;
    margin-left: -500px;
    margin-right: 300px;
    align-self: center;
   
}
.icon h1{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #09237f;
}
.icon .fa {
    align-self: center;
    text-align: center;
    font-size: 30px;
    color: #09237f;
    margin-top: 10px;
    margin-left: 20px;
 
}
