* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(./image1/cctvBg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.572);
}
nav a{
    color: rgb(0, 0, 0);
}

.container-fluid {
  display: flex;
  justify-content: space-around !important;
}

.container-fluid .wrapper{
    width: 90%;
    display: flex;
    justify-content: space-between !important;
}
nav .navbar-brand {
    font-size: 40px;
    color: #08206e;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav .nav-link{
    font-size: 22px;
    margin-left: 50px;
}
.nav-link:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.navbar-brand:hover {
    color: #08206e;
}

.lnk-product a {
    width: 250px;
    background-color: #000;
    color: #ffffff;
    padding:5px 5px;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 500px;
    border-radius: 20px;
}  

.lnk-product a:hover {
color: #ffffff;
text-decoration: none;
background-color: #ff0505;
} 

#product {
    height: auto;
    margin-bottom: 100px;
}
.container-main {
    margin: auto;
    height: 150px;
    background-color: #000;
    align-items: center;
    justify-content:  center;
    display: flex;
}
.container-main h2 {
    color: white;
   font-weight: bold;
}
.container-sub {
    margin: auto;
    height: 100vh;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content:  space-evenly;
    display: block;
}
.container-sub h3 {
    color: rgb(0, 0, 0);
   font-weight: bold;
}

.container1 {
    margin: 5px;
    margin-top: 50px;
    display: flex;
}


.container2 {
    margin: 5px;
    display: flex;
}

.container3 {
    margin: 5px;
    display: flex;

}

.product {
    height: 350px;
    width: 250px;
    margin:5px;
}
.product-img{
    height: 250px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
   
    }
.product h5{
        font-size: 15px;
}
.cctv1 {
    background-image: url(./image1/cctv1.jpeg);
}
.cctv2 {
    background-image: url(./image1/cctv2.jpeg);
}
.cctv3 {
    background-image: url(./image1/cctv3.jpeg);
}
.cctv4 {
    background-image: url(./image1/cctv4.jpeg);
}
.cctv5 {
    background-image: url(./image1/cctv5.jpeg);
}
.cctv6 {
    background-image: url(./image1/cctv6.jpeg);
}
.cctv7 {
    background-image: url(./image1/cctv7.png);
}
.cctv8 {
    background-image: url(./image1/cctv8.jpeg);
}
.product:hover{
    background-color: #c7c7c7ce;
    border-radius: 15px 15px 15px 15px;
    transform:scale(1.03);
    transition: all 1s ease;
}
.contact a {
    width: 150px;
    background-color: #000000;
    color: #ffffff;
    padding:5px 5px;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border-radius: 2px;
}  

.contact a:hover {
color: #ffffff;
text-decoration: none;
background-color: #ff0505;
} 
 /* FOOTER CSS */
 .footer {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
}
.footer img {
    width: 100%;
    height: 200px;
}
.footer-a {
    width:100%;
    height: 300px;
    position: relative; 
    display: flex;
    margin-top: 100px;
}
.hr-line {
    width: 100%;
    align-self: center;
    border: 1px solid rgb(136, 136, 136);

}
ul {
   align-self: center;
   text-align: center;
   justify-self: start;
   display: flex;
}
li {
    font-size: 22px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   list-style: none;
   margin-left: 30px;
  
}
.footer-a a{
    color: #686666;
}
.map h1{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #686666;
    align-self:flex-start;
    margin-left: 300PX;
}
.map h6 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 200px;
}
.map .fa{
    color: rgb(255, 30, 30);
}
iframe {
    margin-top: 20px;
    margin-left: 200px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
}
iframe:hover {
   transform: translateY(-20px);
}

.footer-b {
    width: 100%;
    height: 100px;
    display: grid;
}
h6{
    color: black;
    align-self: flex-end;
    justify-self: center;
}
.icon {
    width: 200px;
    height: 100px;
    margin-top: 200px;
    margin-left: -500px;
    margin-right: 300px;
    align-self: center;
   
}
.icon h1{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #09237f;
}
.icon .fa {
    align-self: center;
    text-align: center;
    font-size: 30px;
    color: #09237f;
    margin-top: 10px;
    margin-left: 20px;
 
}
